.card{
    box-shadow: 1px 1px 12px gray;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.row{
    --bs-gutter-x: 0rem;
    row-gap: 1.8rem;
}

.compra-btn{
    background-color: rgb(68, 53, 91);
    color: white;
}

.compra-btn:hover{
    background-color: rgb(34, 30, 34);
    color: white;
}
