.flexB{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.containerCart{
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px gray;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    margin-top: 100px;
}

.cartImg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.cartItem{
    width: 60vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.itemPrev{
    display: flex;
    align-items: center;
    gap: 35px;
}

.totalPrice{
    background-color: rgb(68, 53, 91);
    color: white;
    padding: 10px;
    border-radius: 4px;
}