#navbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    background-color: #00171F;
    color: #00A7E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

#navMenu{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.itemMenu{
    color: #00A7E1 !important;
}

